<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header row">
              <div class="col-md-6">
                  <h4 class="card-title">Новости</h4>
                  <p class="category">Здесь Вы можете добавлять/удалять и редактировать новости.</p>
              </div>
              <div class="col-md-6">
                  <button class="btn btn-info btn-fill btn-wd pull-right"
                          data-toggle="modal" data-target="#myModal">Добавить
                  </button>
              </div>

          </div>
          <div class="card-content table-responsive table-full-width">
            <table class="table">
              <thead>
              <tr>
                <th>Время</th>
                <th>Изображение</th>
                <th>Заголовок</th>
                <th>Содержание</th>
                <th class="text-right">Опции</th>
              </tr>
              </thead>
              <tbody>
              <!----><tr>
                <td>07.07.2017</td>
                <td class="image-75px">
                    <div class="image">
                        <img alt="..." src="../../assets/img/angular2-logo.png">
                    </div>
                </td>
                <td>Наша первая новость!</td>
                <td>Описание самой первой новости!</td>
                <td class="td-actions text-right">
                  <a class="btn btn-success btn-simple btn-xs" rel="tooltip" title="" data-original-title="Edit Profile">
                    <i class="ti-pencil-alt"></i>
                  </a>
                  <a class="btn btn-danger btn-simple btn-xs" rel="tooltip" title="" data-original-title="Remove">
                    <i class="ti-close"></i>
                  </a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>